{% extends 'base.html' %} {% block content %}

<div class="message-box">
    <div class="room-title">
        <h2>Message History</h2>
        <button type="button" name="home" class="history-btn">
            <a href="/">Home</a>
          </button>
    </div>
    <div class="messages-history" id="messages-history">
        {% for message in messages %}
            <div class="message-history">
                <span class="message-content">{{ message.content }}</span>
                <span class="message-time muted">{{ message.timestamp.astimezone(app.config['TIMEZONE']).strftime('%Y-%m-%d %H:%M:%S') }}</span>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}